<mat-toolbar color="primary">
  Angular Material Dialog & Snackbar
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Action Button Text</mat-label>
      <input matInput [(ngModel)]="actionBtnTxt">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Dialog Title</mat-label>
      <input matInput [(ngModel)]="title">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Discription</mat-label>
      <input matInput [(ngModel)]="discriptipn">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Action Name</mat-label>
      <input matInput [(ngModel)]="actionName">
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile>
    <button mat-stroked-button class="info-button" (click)="info()">Info Dialog</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="success-button" (click)="success()">Success Dialog</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="warning-button" (click)="warning()">Warning Dialog</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="error-button" (click)="error()">Error Dialog</button>
  </mat-grid-tile>
</mat-grid-list>
<hr />
<mat-grid-list style="padding-top: 150px; margin: auto;" cols="6" rowHeight="3:1">
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <input matInput value="Custom Message" #message>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Action</mat-label>
      <input matInput value="Some Action" #action>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="info-button" (click)="infoSnackBar(message.value, action.value)">Info snack-bar</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="success-button" (click)="successSnackBar(message.value, action.value)">Succes snack-bar</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="warning-button" (click)="warningSnackBar(message.value, action.value)">Warning snack-bar</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="error-button" (click)="errorSnackBar(message.value, action.value)">Error snack-bar</button>
  </mat-grid-tile>
</mat-grid-list>